<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head') %>    
    <title>HomePage</title>
</head>
<body>
    <%- include('./partials/nav') %>   
         
    <%= user %>
    <%- include('./partials/script') %>    
</body>
</html>